transformers>=5.0.0
datasets>=4.0.0
huggingface_hub>=1.0.0
bitsandbytes>=0.49.0
seaborn>=0.13.0
numpy>=2.0.0,<2.3
pandas>=2.0.0
pyyaml>=6.0.2
rich>=13.0
webdataset>=0.2.100
megatron-energon>=7.0.0
tensorboard
wandb
