.vscode
.idea
.cursor
.git
.github
.venv
venv
env
cache
docker
saves
hf_cache
ms_cache
om_cache
shared_data
*output*
wandb
swanlog
tensorboard
__pycache__
*.pyc
*.pth
*.pt
*.ckpt
*.safetensors
*.egg-info
*.log
.pytest_cache
.mypy_cache
.DS_Store
.dockerignore
.gitattributes
.gitignore
